{% extends "components/section.html.jinja" %}
{% set image=project.image %}
{% set text=project.description %}


{% block title %}
    {{ project.title }}
    <span>
        <a target="_blank" rel="noopener noreferrer" href="{{ project.git }}" onclick="{{ ga('Social Media', project.git)|safe }}">
            <img class="github-image" alt="github-image" src="{{ static_file("githubLight.png") }}" />
        </a>
    </span>
{% endblock %}

{% block image %}
    <a style="border-bottom: none" target="_blank" rel="noopener noreferrer" href="{{ project.git }}" onclick="{{ ga('Social Media', project.git)|safe }}">
        {{ super() }}
    </a>
{% endblock %}

{% block text %}
    {{ super() }}
{% endblock %}
