{% extends "components/section.html.jinja" %}
{% block title %}
    {{ project.title }}
    <span>
        <a target="_blank" rel="noopener noreferrer" href="{{ project.git }}" onclick="{{ ga('Social Media', project.git)|safe }}">
            <img class="github-image" alt="github-image" src="githubLight.png" />
        </a>
    </span>
{% endblock %}

{% block content %}
    {% if project.image %}
    <div class="project-image">
        <img alt="project-image" src="{{ project.image }}">
    </div>
    {% endif %}
    <div>
        {{ project["description"] }}
    </div>
{% endblock %}
