<div class="section">
<h2 class="{{ css_prefix }}section-title">
    {% block title%}
        {{ title }}
    {% endblock %}
    </h2>
    <div class="{{ css_prefix }}section-content">
    {% block content %}
        <div class="{{ css_prefix }}section-image">
            {% block image %}
                {% if image %}
                    <img alt="{{ css_prefix }}section-image" src="{{ image }}">
                {% endif %}
            {% endblock %}
        </div>
        <div class="{{ css_prefix }}section-text">
            {% block text %}
                {% if text %}
                    {{ text }}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
    </div>
</div>
<div style="height: 5vw">
</div>
