{% set background=static_file("backgrounds/allure.png") %}

{% set colors = [
    "#766C7F",
    "#A5727F",
    "#D77A7F",
    "#FB8F98",
    "#F2A8C8",
]%}

{% set credit = {
    "art": "Allure",
    "name": "Positron Dream",
    "link": "https://www.positrondream.com/"
}%}

{% set profile=static_file("profile-black.jpg") %}
