{% set background=static_file("backgrounds/golden-air.png") %}

{% set colors = [
    "#93735A",
    "#E5BA54",
    "#58C6AB",
    "#7DFFE9",
    "#B8F5D9",
]%}

{% set credit = {
    "art": "Golden Air",
    "name": "Positron Dream",
    "link": "https://www.positrondream.com/"
}%}

{% set profile=static_file("profile-black.jpg") %}
