{% set background=static_file("backgrounds/infinities.png") %}

{% set colors = [
    "#4E4E4E",
    "#9F9F9F",
    "#D4D4D4",
    "#E6E6E6",
    "#f8f8f8",
]%}

{% set credit = {
    "art": "Infinities",
    "name": "Positron Dream",
    "link": "https://www.positrondream.com/"
}%}

{% set profile=static_file("profile-black.jpg") %}
