{% set background="backgrounds/succulent-stock.jpg" %}

{% set colors = [
    "#495921",
    "#789448",
    "#ACB6B1",
    "#B4D9E7",
    "#C7E2ED",
] %}


{% set credit = {
    "art": "The Minimalist",
    "name": "Khai Sze Ong"
} %}

{% set profile = "profile-green.jpg" %}
