{% set background=static_file("backgrounds/unwavering.png") %}

{% set colors = [
    "#217965",
    "#54DFC7",
    "#83F7BC",
    "#97F9CB",
    "#E9FEFB",
]%}

{% set credit = {
    "art": "Unwavering",
    "name": "Positron Dream",
    "link": "https://www.positrondream.com/"
}%}

{% set profile=static_file("profile-black.jpg") %}
