div.project-image {
    padding: 1vw;
    float: left;
    width: 20%;
}

div.project-image img {
    width: 100%;
}

img.github-image {
    max-width: 3vw;
    float: right;
}

@media screen and (max-width:800px) {
    div.project-image {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    div.project-image img {
        width: 50%;
    }

    img.github-image {
        max-width: 35px;
    }
}
