div.resume-profile {
    width: 75%;
    position: relative;
}

div.resume-profile img.profile-image {
    position: absolute;
    top: 14%;
    left: 0;
    filter: drop-shadow(0px 1vw 0.5vw rgba(0, 0, 0, 0.5));
    z-index: 1;
    pointer-events: none;
    width: 100%;
    transition: 0.5s;
    clip-path: circle(35% at center);
}

div.resume-profile:hover img.profile-image {
    opacity: 0;
    clip-path: circle(50% at center);
}

div.resume-profile img.resume-image {
}

.description-title{
    text-align: center;
}

@media screen and (max-width:800px) {
    div.resume-profile img.resume-image {
        position: relative;
        width: calc(100% - 10px);
    }

    div.resume-profile div.profile-container {
        position: relative;
        width: 100%;
    }

    div.profile-container img.profile-image {
        clip-path: circle(40% at center);
    }
}
