:root {
    --main-bg-color: rgba(39, 40, 34, 0.65);
    --main-fg-color: #272822;
    /*succulent contras*/
    --main-text-color: #ffffff;
    --main-link-color: var(--main-text-color);
    {% for i in range(5) %}
    --color-{{ i }}: {{ theme.colors[i] }};
    {% endfor %}

    {% for i in range(5) %}
    --c-color-{{ i }}: {{ rgb_to_hex(*complementary(*hex_to_rgb(theme.colors[i]))) }};
    {% endfor %}
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-4);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-fg-color);
    border-radius: 3.5px;
}

@font-face {
    font-family: Computer Modern;
    src: url('{{ static_file("fonts/cmunrm.ttf") }}');
}

body {
    font-family: Computer Modern;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    background-color: --main-fg-color;
}

body img.background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

a {
    color: var(--c-color-3);
    border-bottom: 1px solid var(--c-color-3);
    text-decoration: none
}

p {
    text-align: justify
}
