:root {
    --main-bg-color: rgba(39, 40, 34, 0.65);
    --main-fg-color: #272822;
    /*succulent contras*/
    --main-text-color: #ffffff;
    --main-link-color: var(--main-text-color);
    --color-0: {{ theme.colors[0] }};
    --color-1: {{ theme.colors[1] }};
    --color-2: {{ theme.colors[2] }};
    --color-3: {{ theme.colors[3] }};
    --color-4: {{ theme.colors[4] }};

    --c-color-0: {{ rgb_to_hex(*complementary(*hex_to_rgb(theme.colors[0]))) }};
    --c-color-1: {{ rgb_to_hex(*complementary(*hex_to_rgb(theme.colors[1]))) }};
    --c-color-2: {{ rgb_to_hex(*complementary(*hex_to_rgb(theme.colors[2]))) }};
    --c-color-3: {{ rgb_to_hex(*complementary(*hex_to_rgb(theme.colors[3]))) }};
    --c-color-4: {{ rgb_to_hex(*complementary(*hex_to_rgb(theme.colors[4]))) }}
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-4);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-fg-color);
    border-radius: 3.5px;
}

@font-face {
    font-family: Computer Modern;
    src: url('fonts/cmunrm.ttf');
}

body {
    font-family: Computer Modern;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    background-color: --main-fg-color;
}

body img.background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

a {
    color: var(--c-color-3);
    border-bottom: 1px solid var(--c-color-3);
    text-decoration: none
}

p {
    text-align: justify
}
