<!DOCTYPE html>
<html>

{% include "header.html.jinja" %}
<body>
    <img class="background" alt="background" src="backgrounds/weekday.jpg"/>
    <div class="Name">
        <h1>Kevin Zheng</h1>
    </div>
    {% include "about.html.jinja" %}
    <div style="text-align: left;
            font-size: 1vw;
            color: var(--main-text-color);
            font-family: 'Computer Modern';">
        {% for project in projects %}
            {% include "project.html.jinja" %}
        {% endfor %}
    </div>

    <div class="Footer">
        <h1 class="ContactHeader">Contact</h1>
        <div class="ContactContainer" style=>
            <p>Looking to hire an intern?</p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/coffeevector" onclick="{{ ga('Recruitment', 'Github Clicked')|safe }}">
                    github.com/coffeevector
                </a>
            </p>
            <p onclick="{{ ga('Recruitment', 'Email Clicked') }}">zhengkevin256@gmail.com</p>
        </div>
    </div>
</body>
</html>
