<!DOCTYPE html>
<html>
{% include "components/header.html.jinja" %}
<body>
    <img class="background" alt="background" src="backgrounds/weekday.jpg"/>
    <div class="Name">
        <h1>Kevin Zheng</h1>
    </div>
    {% include "components/about.html.jinja" %}
    <div style="text-align: left;
            font-size: 1vw;
            color: var(--main-text-color);
            font-family: 'Computer Modern';">
        {% for project in projects %}
            {% include "components/project.html.jinja" %}
        {% endfor %}
    </div>
    {% include "components/footer.html.jinja" %}
</body>
</html>
