<!DOCTYPE html>
<html>
{% include "components/header.html.jinja" %}
<body>
    <img class="background" alt="background" src="backgrounds/allure.png"/>
    <div class="frontpage">
        <h1>Kevin Zheng</h1>
        <span class="wallpaper-credit"><em>Allure</em> by <a target="_blank" rel="noopener noreferrer" href="https://www.positrondream.com/"><em>Positron Dream</em></a></span>
    </div>
    {% include "components/about.html.jinja" %}
    {% for project in projects %}
        {% include "components/project.html.jinja" %}
    {% endfor %}
</body>
</html>
