<!DOCTYPE html>
{% import "themes/{theme}.jinja".format(theme=theme) as theme %}

{% if not theme.profile is defined %}
    {% set theme.profile=static_file("profile-green.jpg") %}
{% endif %}

<html>
{% include "components/header.html.jinja" %}
<body>
<img class="background" alt="background" src="{{ theme.background }}"/>
    <div class="frontpage">
        <h1>Kevin Zheng</h1>
        <span class="wallpaper-credit">
            {% if theme.credit.link %}
                <a target="_blank" rel="noopener noreferrer" href="{{ theme.credit.link }}">{{ theme.credit.name }}.</a>
            {% else %}
                {{ theme.credit.name }}.
            {% endif %}
            <em>{{ theme.credit.art }}</em> 
        </span>
    </div>
    {% include "components/about.html.jinja" %}
    {% for project in projects %}
        {% include "components/project.html.jinja" %}
    {% endfor %}
</body>
</html>
