{% import "themes/{theme}.jinja".format(theme=theme) as theme %}
{% include "css/about.css" %}
{% include "css/general.css" %}
{% include "css/frontpage.css" %}
{% include "css/project.css" %}
{% include "css/section.css" %}
